/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap');

/* Base Styles */
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #eee;
}

/* Variables */
:root {
    --primary: #2B303A;
    --secondary: #666;
    --tertiary: #48cae4;
    --quaternary: #92dce5;
  }

/* Header and Menu */
.top-bar {
    padding-left:10px;
    padding-right:10px;
}

.top-bar a:hover {
    color: var(--tertiary);
}

header {
    display: flex;
    justify-content: center;
}

.container-header {
    display: flex;
    justify-content: space-between;
    gap:2.5em;
}

.logo, .menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none!important;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 10px;
    text-transform: uppercase;
    color:var(--primary);
    font-weight: 700;
    border: 2px solid transparent;
}

nav a:hover {
    color: var(--tertiary);
}

h1 {
    color: var(--primary);
    font-size: 2.5em;
    font-weight: 500;
    line-height:1.2em;

}

h2 {
    color: var(--primary);
    font-size: 2em;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 15px;
}

h3 {
    color: var(--secondary);
    font-size:1.5em;
    font-weight: 600;
}

span {
    color: var(--tertiary);
    font-weight: 600;
}

p {
    color: var(--primary);
    font-size: 1.2em;
    font-weight: 500;
    text-align: left;
    padding:10px 0;
}

a {
    text-decoration: none;
    font-size: 1em;
}

mark {
    color: var(--primary);
    background-color: var(--quaternary);
}

footer, section {
    margin: 20px 0;
    padding: 20px 0;
}

.title {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap:2.5em;
}

.container-contact-info {
    display: flex;
    gap: 0.5em;
    justify-content: center;
}

.contact-icons {
    color: var(--tertiary);
    font-size: 1.2em;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 15px;
}

.contact-icons:hover,
.hero #next:hover,
.hero #previous:hover {
    color: var(--quaternary);
    background-color: var(--primary);
    border: 1px solid var(--quaternary);
    transition-duration: 0.45s;
}

.card {
    background-color: #fff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 12px 16px 0 rgba(250, 250, 250, 0.25), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card:hover {
    background: linear-gradient(90deg, rgba(72, 202, 228), rgba(146, 220, 229) 60%);
    transition-duration: 0.45s;
}

.card:hover h3, .card:hover p {
    color: var(--primary);
}

/* Portfólio Carousel */
.hero {
    position: relative; 
    margin: 0;
}

.hero .slide-carousel .slide {
    border-radius: 25px;
    background-color: #fff;
    width: 600px;
    padding: 25px;
    margin: auto auto 60px auto;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.45s;
    box-shadow: 0 12px 16px 0 rgba(250, 250, 250, 0.25), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.hero .slide-carousel {
    display: none;
}

.hero .slide-carousel.active {
    display: block;
}

.hero #next,
.hero #previous {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: var(--primary);
    background-color: #fff;
    border-radius: 100%;
}

.hero #next {
    right: 200px;
}

.hero #previous {
    left: 200px;
}

.link-activities a {
    color: var(--quaternary);
    font-weight: 600;
}

/* Qualificações */
.stacks {
    display: flex;
    justify-content: center;
    gap:1.2em;
    font-size: 3.5em;
    color: var(--primary);
    padding-top: 20px;
}

